<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
      <button type="submit">save</button>


    </form>
    //upload nhiều file
    <form action="/profilearray" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar"  multiple/>
      <button type="submit">save</button>


    </form>
  </body>
</html>
